# Projeto 3

<b>Tema:</b> Estimar o retorno financeiro de um filme

<b>Técnica:</b> Regressão Linear

<b>Grupo:</b> Lucas Leal Vale, Matheus Augusto Soares, Rafael Almada
___

In [96]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [97]:
movies=pd.read_csv('movies_metadata.csv', low_memory=False)
imdb=pd.read_csv('ratings_small.csv',low_memory=False)

In [98]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [99]:
df=movies.loc[:, {'id','original_title','original_language','genres','popularity','runtime','budget','revenue'}]
df.head()

,id,runtime,revenue,genres,budget,original_title,popularity,original_language
0,862,81.0,373554033.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,Toy Story,21.946943,en
1,8844,104.0,262797249.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,Jumanji,17.015539,en
2,15602,101.0,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,Grumpier Old Men,11.7129,en
3,31357,127.0,81452156.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,Waiting to Exhale,3.859495,en
4,11862,106.0,76578911.0,"[{'id': 35, 'name': 'Comedy'}]",0,Father of the Bride Part II,8.387519,en

In [100]:
#Tirando budgets diferente de 0 (budget ainda como string
df=df[df.budget != "0"]
df=df.drop([19730, 29503,35587])

In [101]:
#Transformando em float id e budget
df.id=df.id.astype('float64')
df.budget=df.budget.astype('float64')
df.dtypes

id                   float64
runtime              float64
revenue              float64
genres                object
budget               float64
original_title        object
popularity            object
original_language     object
dtype: object

In [102]:
#Ordenando em ordem crescente de acordo com o id, e filtrando valores 0 das variáveis float
df=df[(df.revenue >0) & (df.budget>0)  & (df.runtime>0)]
df=df.sort_values(['id'], ascending=[True])
df

,id,runtime,revenue,genres,budget,original_title,popularity,original_language
17,5.0,98.0,4.300000e+06,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",4000000.0,Four Rooms,9.026586,en
256,11.0,121.0,7.753980e+08,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",11000000.0,Star Wars,42.149697,en
6232,12.0,100.0,9.403355e+08,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",94000000.0,Finding Nemo,25.497794,en
351,13.0,142.0,6.779454e+08,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",55000000.0,Forrest Gump,48.307194,en
2742,14.0,122.0,3.562966e+08,"[{'id': 18, 'name': 'Drama'}]",15000000.0,American Beauty,20.726578,en
896,15.0,119.0,2.321767e+07,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",839727.0,Citizen Kane,15.811921,en
3786,16.0,140.0,4.003188e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",12800000.0,Dancer in the Dark,10.684806,en
1460,18.0,126.0,2.639202e+08,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",90000000.0,The Fifth Element,24.30526,en
1901,19.0,153.0,6.504220e+05,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",92620000.0,Metropolis,14.487867,de
6390,22.0,143.0,6.550112e+08,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",140000000.0,Pirates of the Caribbean: The Curse of the Bla...,47.326665,en
6725,24.0,111.0,1.809490e+08,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",30000000.0,Kill Bill: Vol. 1,25.261865,en
10517,25.0,125.0,9.689000e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",72000000.0,Jarhead,9.997032,en
10083,27.0,66.0,1.574623e+06,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",1000000.0,9 Songs,18.847707,en
1165,28.0,153.0,8.946038e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",31500000.0,Apocalypse Now,13.5963,en
1221,33.0,131.0,1.591574e+08,"[{'id': 37, 'name': 'Western'}]",14000000.0,Unforgiven,10.942149,en
11959,35.0,87.0,5.270689e+08,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",75000000.0,The Simpsons Movie,14.302911,en
7208,38.0,108.0,7.225813e+07,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",20000000.0,Eternal Sunshine of the Spotless Mind,12.906327,en
4108,55.0,154.0,2.090847e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",2000000.0,Amores perros,5.958138,es
11008,58.0,151.0,1.065660e+09,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",200000000.0,Pirates of the Caribbean: Dead Man's Chest,29.455314,en
10387,59.0,96.0,6.074083e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",32000000.0,A History of Violence,11.119707,en
897,62.0,149.0,6.870000e+07,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",10500000.0,2001: A Space Odyssey,22.494622,en
31,63.0,129.0,1.688400e+08,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",29500000.0,Twelve Monkeys,12.297305,en
5740,64.0,112.0,5.100155e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",9285469.0,Hable con ella,6.648278,es
5672,65.0,110.0,2.150000e+08,"[{'id': 18, 'name': 'Drama'}]",41000000.0,8 Mile,8.374355,en
1402,66.0,121.0,5.006831e+07,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",50000000.0,Absolute Power,7.66124,en
10556,69.0,136.0,1.864389e+08,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",28000000.0,Walk the Line,11.476443,en
9522,70.0,132.0,2.167636e+08,"[{'id': 18, 'name': 'Drama'}]",30000000.0,Million Dollar Baby,14.471373,en
3842,71.0,110.0,1.100000e+08,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",5000000.0,Billy Elliot,12.158424,en
2216,73.0,119.0,2.387513e+07,"[{'id': 18, 'name': 'Drama'}]",20000000.0,American History X,18.157166,en
10177,74.0,116.0,5.917394e+08,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",132000000.0,War of the Worlds,19.929377,en
...,...,...,...,...,...,...,...,...
39994,393841.0,124.0,5.500000e+06,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",200000.0,#Pellichoopulu,0.902294,te
43738,395452.0,105.0,1.492523e+06,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...",3500000.0,Dans les forêts de Sibérie,1.333969,fr
45167,395834.0,111.0,1.847702e+08,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",11000000.0,Wind River,40.796775,en
42853,395992.0,103.0,1.005418e+08,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",58000000.0,Life,36.263803,en
39821,396535.0,118.0,2.129768e+06,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",8820000.0,부산행,22.685169,ko
42095,396616.0,133.0,9.100000e+06,"[{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...",7500000.0,Kongens nei,1.176258,no
43691,397422.0,101.0,4.505677e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",20000000.0,Rough Night,24.317924,en
42185,397837.0,98.0,1.002557e+07,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",5000000.0,Before I Fall,38.995136,en
39238,398535.0,149.0,1.490000e+07,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",5980000.0,उड़ता पंजाब,4.195845,hi
43642,399019.0,93.0,2.544294e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",10500000.0,The Beguiled,36.26051,en
43186,400928.0,101.0,3.746104e+07,"[{'id': 18, 'name': 'Drama'}]",7000000.0,Gifted,16.025911,en
41049,402298.0,109.0,4.073489e+06,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",10000000.0,Denial,10.754997,en
40058,402672.0,155.0,1.618000e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",15050000.0,Mohenjo Daro,1.423358,hi
39694,403119.0,89.0,4.423502e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",5500000.0,47 Meters Down,52.854103,en
43101,403390.0,103.0,5.572410e+05,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",20000000.0,Bitter Harvest,3.573865,en
41969,404378.0,103.0,8.270300e+04,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",8000000.0,A Street Cat Named Bob,9.609879,en
42057,409502.0,112.0,2.000000e+06,"[{'id': 18, 'name': 'Drama'}]",1500000.0,I'm Not Ashamed,2.254096,en
41689,413543.0,149.0,3.376375e+06,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4300000.0,Dear Zindagi,3.699552,hi
43057,417644.0,100.0,2.680015e+07,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",25000000.0,CHiPS,12.238061,en
43221,417830.0,91.0,4.012014e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",22000000.0,Diary of a Wimpy Kid: The Long Haul,28.176992,en
43232,418437.0,100.0,1.776801e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",12000000.0,Unforgettable,10.159713,en
42169,419430.0,104.0,2.524342e+08,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",5000000.0,Get Out,36.894806,en
41516,422603.0,134.0,2.300000e+06,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",450000.0,ആനന്ദം,0.354748,ml
42411,425942.0,90.0,1.440000e+06,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",4000000.0,Nieve negra,10.067238,es
42308,428449.0,92.0,1.558426e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",100000.0,A Ghost Story,24.339781,en
43499,430263.0,90.0,4.781454e+06,"[{'id': 35, 'name': 'Comedy'}]",707503.0,"Гуляй, Вася!",1.681316,ru
42805,433356.0,111.0,2.409780e+05,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",40000000.0,The Ottoman Lieutenant,13.256679,en
44791,434119.0,125.0,5.610000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",8520000.0,공조,1.75859,ko
43229,440642.0,140.0,9.868942e+06,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",7075038.0,Время первых,10.181,ru
43353,443319.0,80.0,3.600000e+06,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",2800000.0,Phoenix Forgotten,12.560942,en