# Projeto 3

<b>Tema:</b> Estimar o retorno financeiro de um filme

<b>Técnica:</b> Regressão Linear

<b>Grupo:</b> Lucas Leal Vale, Matheus Augusto Soares, Rafael Almada
___

In [19]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
movies=pd.read_csv('movies_metadata.csv', low_memory=False)
imdb=pd.read_csv('ratings.csv',low_memory=False)

In [21]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [22]:
df=movies.loc[:, {'id','original_title','original_language','genres','popularity','runtime','budget','revenue'}]
df.head()

,runtime,budget,genres,original_language,original_title,revenue,id,popularity
0,81.0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,373554033.0,862,21.946943
1,104.0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,262797249.0,8844,17.015539
2,101.0,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,0.0,15602,11.7129
3,127.0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,81452156.0,31357,3.859495
4,106.0,0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,76578911.0,11862,8.387519

In [23]:
#Tirando budgets diferente de 0 (budget ainda como string
df=df[df.budget != "0"]
df=df.drop([19730, 29503,35587])

In [24]:
#Transformando em float id e budget
df.id=df.id.astype('float64')
df.budget=df.budget.astype('float64')
df.dtypes

runtime              float64
budget               float64
genres                object
original_language     object
original_title        object
revenue              float64
id                   float64
popularity            object
dtype: object

In [25]:
#Ordenando em ordem crescente de acordo com o id, e filtrando valores 0 das variáveis float
df=df[(df.revenue >0) & (df.budget>0)  & (df.runtime>0)]
df=df.sort_values(['id'], ascending=[True])
df.id=df.id.astype('int')

In [26]:
#Tirando media dos ratings
imdb=imdb.sort_values(['movieId'], ascending=[True])
MediaRating=imdb.drop("userId",1,inplace=True)
MediaRating=imdb.drop("timestamp",1,inplace=True)
imdb.columns

Index(['movieId', 'rating'], dtype='object')

In [27]:
imdb.tail()

          movieId  rating
18234777   176267     4.0
9448563    176269     3.5
83813      176271     5.0
25735653   176273     1.0
17181377   176275     3.0

In [28]:
rating=pd.Series(imdb.groupby(['movieId'])['rating'].mean())

In [29]:
rating=rating.reset_index()
rating = rating.rename(columns={'movieId': 'id'})
rating=rating.set_index('id')

In [30]:
df=df.set_index("id")

In [34]:
dados_filtrados=pd.merge(df, rating, on='id', how='inner')
dados_filtrados

,runtime,budget,genres,original_language,original_title,revenue,popularity,rating
id,,,,,,,,
5,98.0,4000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",en,Four Rooms,4.300000e+06,9.026586,3.079565
11,121.0,11000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,Star Wars,7.753980e+08,42.149697,3.660591
12,100.0,94000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,Finding Nemo,9.403355e+08,25.497794,2.672179
13,142.0,55000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Forrest Gump,6.779454e+08,48.307194,3.326442
14,122.0,15000000.0,"[{'id': 18, 'name': 'Drama'}]",en,American Beauty,3.562966e+08,20.726578,3.430807
15,119.0,839727.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",en,Citizen Kane,2.321767e+07,15.811921,2.727040
16,140.0,12800000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",en,Dancer in the Dark,4.003188e+07,10.684806,3.795511
18,126.0,90000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,The Fifth Element,2.639202e+08,24.30526,3.409031
19,153.0,92620000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",de,Metropolis,6.504220e+05,14.487867,2.633983
22,143.0,140000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Pirates of the Caribbean: The Curse of the Bla...,6.550112e+08,47.326665,3.300608
24,111.0,30000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,Kill Bill: Vol. 1,1.809490e+08,25.261865,3.180375
25,125.0,72000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",en,Jarhead,9.689000e+07,9.997032,3.667513
27,66.0,1000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",en,9 Songs,1.574623e+06,18.847707,3.424865
28,153.0,31500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",en,Apocalypse Now,8.946038e+07,13.5963,4.039876
33,131.0,14000000.0,"[{'id': 37, 'name': 'Western'}]",en,Unforgiven,1.591574e+08,10.942149,3.055556
35,87.0,75000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,The Simpsons Movie,5.270689e+08,14.302911,3.501596
38,108.0,20000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",en,Eternal Sunshine of the Spotless Mind,7.225813e+07,12.906327,2.887427
55,154.0,2000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",es,Amores perros,2.090847e+07,5.958138,3.225922
58,151.0,200000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Pirates of the Caribbean: Dead Man's Chest,1.065660e+09,29.455314,3.965011
59,96.0,32000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",en,A History of Violence,6.074083e+07,11.119707,3.600985
62,149.0,10500000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",en,2001: A Space Odyssey,6.870000e+07,22.494622,3.750324
63,129.0,29500000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",en,Twelve Monkeys,1.688400e+08,12.297305,3.114120
64,112.0,9285469.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",es,Hable con ella,5.100155e+07,6.648278,2.837523
65,110.0,41000000.0,"[{'id': 18, 'name': 'Drama'}]",en,8 Mile,2.150000e+08,8.374355,2.403340
66,121.0,50000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,Absolute Power,5.006831e+07,7.66124,2.159488
69,136.0,28000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",en,Walk the Line,1.864389e+08,11.476443,3.550959
70,132.0,30000000.0,"[{'id': 18, 'name': 'Drama'}]",en,Million Dollar Baby,2.167636e+08,14.471373,3.307961
71,110.0,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",en,Billy Elliot,1.100000e+08,12.158424,2.354519
73,119.0,20000000.0,"[{'id': 18, 'name': 'Drama'}]",en,American History X,2.387513e+07,18.157166,3.794658
74,116.0,132000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",en,War of the Worlds,5.917394e+08,19.929377,3.299004
...,...,...,...,...,...,...,...,...
152737,121.0,25000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,August: Osage County,7.418894e+07,6.954296,3.500000
152747,106.0,9000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,All Is Lost,6.108720e+06,12.74965,2.666667
152780,130.0,11000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",fr,Le passé,1.063175e+07,9.166555,2.000000
153158,106.0,22000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",es,Metegol,2.400000e+07,14.347931,3.500000
153518,97.0,73000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",en,The Angry Birds Movie,3.497795e+08,11.171927,2.285714
154400,106.0,12600000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",en,The Drop,1.905453e+07,11.695036,2.785714
155084,93.0,5000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",en,13 Sins,1.380900e+04,9.067788,3.125000
157336,169.0,165000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",en,Interstellar,6.751200e+08,32.213481,2.500000
157350,139.0,85000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,Divergent,2.887479e+08,21.572585,3.300000
157544,91.0,13000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",en,The Vatican Tapes,1.784763e+06,5.149301,2.500000
157827,109.0,11000000.0,"[{'id': 18, 'name': 'Drama'}]",en,Louder Than Bombs,1.617890e+05,12.293202,2.000000
157841,105.0,33000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",en,The Young and Prodigious T.S. Spivet,9.494789e+06,6.839535,1.166667
157845,103.0,12250000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,The Rover,2.295423e+06,6.561373,4.000000
157847,118.0,4000000.0,"[{'id': 18, 'name': 'Drama'}]",en,Joe,2.365467e+06,13.784411,3.344828
157849,121.0,15000000.0,"[{'id': 53, 'name': 'Thriller'}]",en,A Most Wanted Man,3.155486e+07,10.432407,2.642857
158011,94.0,13000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",en,The Call,6.857238e+07,8.611077,4.000000
158015,86.0,3000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",en,The Purge,8.932863e+07,23.207663,4.000000
158852,130.0,190000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",en,Tomorrowland,2.091543e+08,22.296076,3.416667
158916,95.0,7000000.0,"[{'id': 37, 'name': 'Western'}, {'id': 53, 'na...",en,Sweetwater,6.147000e+03,5.799861,3.500000
159447,90.0,2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",ru,"С новым годом, мамы!",1.166609e+07,1.456046,3.326531
160588,98.0,18000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Blue Jasmine,9.920622e+07,12.61244,3.625000
160768,117.0,10000000.0,"[{'id': 18, 'name': 'Drama'}]",en,Jimmy P.,3.028300e+04,4.50333,2.750000
167810,95.0,2000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 53, 'na...",en,Lost River,4.543100e+04,6.640704,2.500000
168530,99.0,25000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,Ride Along,1.539978e+08,9.895752,2.666667
168672,138.0,40000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",en,American Hustle,2.511718e+08,16.478036,3.000000
170687,97.0,60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,The Boxtrolls,1.082558e+08,11.563909,1.000000
172391,85.0,20000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",en,Khumba,2.718738e+07,5.219667,1.000000
173689,57.0,75000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,Lights of New York,1.200000e+06,0.251353,1.500000
173897,107.0,40000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",en,Resident Evil: The Final Chapter,3.122426e+08,0.75571,4.000000
174751,98.0,25000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,Jane Got a Gun,1.397284e+06,8.826071,2.500000

In [38]:
dados_filtrados.to_csv("dataframe_filtrado.csv")