# Projeto 3

<b>Tema:</b> Estimar o retorno financeiro de um filme

<b>Técnica:</b> Regressão Linear

<b>Grupo:</b> Lucas Leal Vale, Matheus Augusto Soares, Rafael Almada
___

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
movies=pd.read_csv('movies_metadata.csv', low_memory=False)
imdb=pd.read_csv('ratings_small.csv',low_memory=False)

In [3]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
df=movies.loc[:, {'id','original_title','original_language','genres','popularity','runtime','budget','revenue'}]
df.head()

,original_title,revenue,runtime,id,budget,popularity,original_language,genres
0,Toy Story,373554033.0,81.0,862,30000000,21.946943,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,262797249.0,104.0,8844,65000000,17.015539,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,0.0,101.0,15602,0,11.7129,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,81452156.0,127.0,31357,16000000,3.859495,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,76578911.0,106.0,11862,0,8.387519,en,"[{'id': 35, 'name': 'Comedy'}]"

In [5]:
#Tirando budgets diferente de 0 (budget ainda como string
df=df[df.budget != "0"]
df=df.drop([19730, 29503,35587])

In [6]:
#Transformando em float id e budget
df.id=df.id.astype('float64')
df.budget=df.budget.astype('float64')
df.dtypes

original_title        object
revenue              float64
runtime              float64
id                   float64
budget               float64
popularity            object
original_language     object
genres                object
dtype: object

In [7]:
#Ordenando em ordem crescente de acordo com o id, e filtrando valores 0 das variáveis float
df=df[(df.revenue >0) & (df.budget>0)  & (df.runtime>0)]
df=df.sort_values(['id'], ascending=[True])
df = df.set_index("id")
df.head()

,original_title,revenue,runtime,budget,popularity,original_language,genres
id,,,,,,,
5.0,Four Rooms,4300000.0,98.0,4000000.0,9.026586,en,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
11.0,Star Wars,775398007.0,121.0,11000000.0,42.149697,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
12.0,Finding Nemo,940335536.0,100.0,94000000.0,25.497794,en,"[{'id': 16, 'name': 'Animation'}, {'id': 10751..."
13.0,Forrest Gump,677945399.0,142.0,55000000.0,48.307194,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
14.0,American Beauty,356296601.0,122.0,15000000.0,20.726578,en,"[{'id': 18, 'name': 'Drama'}]"

In [8]:
imdb.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [9]:
#Tirando media dos ratings
imdb=imdb.sort_values(['movieId'], ascending=[True])
imdb=imdb.rename(columns={'movieId': 'id'})
imdb=imdb.drop("userId",1)
imdb=imdb.drop("timestamp",1)
imdb.columns

Index(['id', 'rating'], dtype='object')

In [10]:
rating=pd.Series(imdb.groupby(['id'])['rating'].mean())

In [11]:
rating=pd.DataFrame(rating)

In [12]:
rating.head()

      rating
id
1   3.872470
2   3.401869
3   3.161017
4   2.384615
5   3.267857

In [13]:
df=df.merge(rating,how="outer",left_on="id",right_on='id')

In [14]:
df.head()

,original_title,revenue,runtime,budget,popularity,original_language,genres,rating
id,,,,,,,,
5.0,Four Rooms,4300000.0,98.0,4000000.0,9.026586,en,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",3.267857
11.0,Star Wars,775398007.0,121.0,11000000.0,42.149697,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",3.689024
12.0,Finding Nemo,940335536.0,100.0,94000000.0,25.497794,en,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2.861111
13.0,Forrest Gump,677945399.0,142.0,55000000.0,48.307194,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.937500
14.0,American Beauty,356296601.0,122.0,15000000.0,20.726578,en,"[{'id': 18, 'name': 'Drama'}]",3.451613

In [15]:
df=df.dropna()
df

,original_title,revenue,runtime,budget,popularity,original_language,genres,rating
id,,,,,,,,
5.0,Four Rooms,4.300000e+06,98.0,4000000.0,9.026586,en,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",3.267857
11.0,Star Wars,7.753980e+08,121.0,11000000.0,42.149697,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",3.689024
12.0,Finding Nemo,9.403355e+08,100.0,94000000.0,25.497794,en,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2.861111
13.0,Forrest Gump,6.779454e+08,142.0,55000000.0,48.307194,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.937500
14.0,American Beauty,3.562966e+08,122.0,15000000.0,20.726578,en,"[{'id': 18, 'name': 'Drama'}]",3.451613
15.0,Citizen Kane,2.321767e+07,119.0,839727.0,15.811921,en,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",2.318182
16.0,Dancer in the Dark,4.003188e+07,140.0,12800000.0,10.684806,en,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",3.948864
18.0,The Fifth Element,2.639202e+08,126.0,90000000.0,24.30526,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",3.288462
19.0,Metropolis,6.504220e+05,153.0,92620000.0,14.487867,de,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",2.597826
22.0,Pirates of the Caribbean: The Curse of the Bla...,6.550112e+08,143.0,140000000.0,47.326665,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",3.355263
24.0,Kill Bill: Vol. 1,1.809490e+08,111.0,30000000.0,25.261865,en,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",3.044118
25.0,Jarhead,9.689000e+07,125.0,72000000.0,9.997032,en,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",3.742574
27.0,9 Songs,1.574623e+06,66.0,1000000.0,18.847707,en,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",3.142857
28.0,Apocalypse Now,8.946038e+07,153.0,31500000.0,13.5963,en,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",4.083333
35.0,The Simpsons Movie,5.270689e+08,87.0,75000000.0,14.302911,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",3.545455
38.0,Eternal Sunshine of the Spotless Mind,7.225813e+07,108.0,20000000.0,12.906327,en,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",2.000000
55.0,Amores perros,2.090847e+07,154.0,2000000.0,5.958138,es,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",3.333333
58.0,Pirates of the Caribbean: Dead Man's Chest,1.065660e+09,151.0,200000000.0,29.455314,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",4.000000
59.0,A History of Violence,6.074083e+07,96.0,32000000.0,11.119707,en,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",4.000000
62.0,2001: A Space Odyssey,6.870000e+07,149.0,10500000.0,22.494622,en,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",3.689655
63.0,Twelve Monkeys,1.688400e+08,129.0,29500000.0,12.297305,en,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",2.833333
64.0,Hable con ella,5.100155e+07,112.0,9285469.0,6.648278,es,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",2.400000
65.0,8 Mile,2.150000e+08,110.0,41000000.0,8.374355,en,"[{'id': 18, 'name': 'Drama'}]",2.025000
66.0,Absolute Power,5.006831e+07,121.0,50000000.0,7.66124,en,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",2.000000
69.0,Walk the Line,1.864389e+08,136.0,28000000.0,11.476443,en,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",3.818182
70.0,Million Dollar Baby,2.167636e+08,132.0,30000000.0,14.471373,en,"[{'id': 18, 'name': 'Drama'}]",3.020833
71.0,Billy Elliot,1.100000e+08,110.0,5000000.0,12.158424,en,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",2.428571
73.0,American History X,2.387513e+07,119.0,20000000.0,18.157166,en,"[{'id': 18, 'name': 'Drama'}]",4.115385
74.0,War of the Worlds,5.917394e+08,116.0,132000000.0,19.929377,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",3.026316
76.0,Before Sunrise,5.535405e+06,105.0,2500000.0,11.304979,en,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",3.333333
...,...,...,...,...,...,...,...,...
26555.0,Club Paradise,1.230852e+07,96.0,15000000.0,4.079853,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.166667
26791.0,Brigham City,8.522060e+05,119.0,1000000.0,0.202478,en,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",5.000000
27022.0,The Sorcerer's Apprentice,2.152837e+08,109.0,150000000.0,12.533525,en,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",4.333333
27873.0,Warlords of the 21st Century,3.000000e+06,91.0,1000000.0,0.815844,en,"[{'id': 878, 'name': 'Science Fiction'}]",3.500000
31162.0,Чёрная Молния,2.150000e+07,102.0,15000000.0,3.931527,ru,"[{'id': 28, 'name': 'Action'}]",2.500000
31225.0,Paris is Burning,3.779620e+06,71.0,500000.0,4.101295,en,"[{'id': 99, 'name': 'Documentary'}]",4.250000
31522.0,Une Femme est une femme,1.006550e+05,84.0,160000.0,4.431293,fr,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2.750000
32456.0,Two Girls and a Guy,2.057193e+06,84.0,1000000.0,4.967667,en,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",3.000000
43919.0,Hatchet II,5.260400e+04,89.0,2500000.0,12.525758,en,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",1.600000
43930.0,"Tomorrow, When the War Began",1.650494e+07,103.0,27000000.0,4.983475,en,"[{'id': 28, 'name': 'Action'}]",3.500000
48231.0,A Dangerous Method,2.746204e+07,99.0,15000000.0,9.865944,en,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",3.500000
49013.0,Cars 2,5.598524e+08,106.0,200000000.0,13.693002,en,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",1.000000
49526.0,Premium Rush,3.108360e+07,91.0,35000000.0,5.654784,en,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",3.000000
49530.0,In Time,1.739306e+08,109.0,40000000.0,10.324613,en,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",4.040541
50601.0,5 Days of War,1.747900e+04,113.0,20000000.0,3.174512,en,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",2.625000
50641.0,The End of Poverty?,5.700000e+01,106.0,1000000.0,0.075176,en,"[{'id': 99, 'name': 'Documentary'}]",4.750000
51540.0,Horrible Bosses,1.170000e+08,98.0,35000000.0,9.856955,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",3.925000
54648.0,The Pebble and the Penguin,3.983912e+06,74.0,28000000.0,2.304986,en,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",2.333333
55721.0,Bridesmaids,2.883835e+08,125.0,32500000.0,6.810991,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",3.875000
59387.0,The Powerpuff Girls Movie,1.141164e+07,77.0,10000000.0,5.024459,en,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",3.954545
62764.0,Mirror Mirror,1.830185e+08,106.0,85000000.0,14.170183,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",4.500000
71668.0,Piranha 3DD,8.493728e+06,83.0,5000000.0,5.615205,en,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",2.000000
74458.0,Mere Brother Ki Dulhan,1.805000e+07,139.0,5510000.0,1.838865,hi,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",3.794118
77866.0,Contraband,6.310000e+07,109.0,25000000.0,10.595067,en,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",2.750000
79224.0,최종병기 활,4.900000e+07,122.0,8000000.0,7.030308,ko,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",2.250000
89492.0,This Is 40,8.805879e+07,134.0,35000000.0,11.418802,en,"[{'id': 35, 'name': 'Comedy'}]",3.781250
103731.0,Mud,2.158770e+07,130.0,10000000.0,7.881579,en,"[{'id': 18, 'name': 'Drama'}]",5.000000
105254.0,Beröringen,6.530000e+06,115.0,6900000.0,0.659046,sv,"[{'id': 18, 'name': 'Drama'}]",3.000000
115210.0,Stitches,9.500000e+04,86.0,100000.0,8.328705,en,"[{'id': 27, 'name': 'Horror'}]",3.750000
116977.0,Foodfight!,7.370600e+04,87.0,65000000.0,6.693589,en,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",2.666667