# Projeto 3

<b>Tema:</b> Estimar o retorno financeiro de um filme

<b>Técnica:</b> Regressão Linear

<b>Grupo:</b> Lucas Leal Vale, Matheus Augusto Soares, Rafael Almada
___

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
movies=pd.read_csv('movies_metadata.csv', low_memory=False)
movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [3]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
df=movies.loc[:, {'original_title','original_language','genres','popularity','runtime','budget','revenue'}]
df.head()

,original_language,popularity,genres,original_title,runtime,revenue,budget
0,en,21.946943,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,81.0,373554033.0,30000000
1,en,17.015539,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,104.0,262797249.0,65000000
2,en,11.7129,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,101.0,0.0,0
3,en,3.859495,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,127.0,81452156.0,16000000
4,en,8.387519,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,106.0,76578911.0,0

In [5]:
df.dtypes

original_language     object
popularity            object
genres                object
original_title        object
runtime              float64
revenue              float64
budget                object
dtype: object

In [9]:
df.budget=df.budget.astype('float64')
df=df[(df.revenue >0) & (df.budget>0)  & (df.runtime>0)]
df.describe()

ValueError: could not convert string to float: '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg'

In [7]:
df[~df.budget.str.isnumeric()]

,original_language,popularity,genres,original_title,runtime,revenue,budget
19730,104.0,NaN,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN,/ff9qCepilowshEtG2GYWwzt2bs4.jpg
29503,68.0,NaN,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_639_1': 'ja', 'name': '日本語'}]",NaN,NaN,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35587,82.0,Beware Of Frost Bites,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg